@import "tailwindcss";
@import "./colors.css";

body {
  font-family: var(--font-inter), var(--font-geist-sans), system-ui, sans-serif;
  background: #d4d4d8;
}

html[style*="color-scheme: dark"] body {
  background: #111111;
}
code, pre, kbd, samp {
  /* monospace bits should use Geist Mono: */
  font-family: var(--font-geist-mono), Menlo, monospace;
}

.shadow-md {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

html[style*="color-scheme: dark"] .shadow-md {
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
}

.info-card {
  cursor: pointer;
  padding: 24px;
  border-radius: 4px;
  outline-width: 24px;
  outline: 1px solid;
}

.info-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

html[style*="color-scheme: dark"] .info-card:hover {
  box-shadow: 0px 4px 8px 0px rgb(255, 255, 255);
}

.info-card:active {
  color: "white";
  transform: translateY(-1px);
}

.c-card {
  border-radius: 4px;
  outline-width: 24px;
  outline: 1px solid;
}

.breadcrumb {
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  outline: 1px solid;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-inline: 5px;
}

.breadcrumb:hover {
  background-color: #490099;
  box-shadow: 0 4px 12px rgb(0,0,0);
  transform: 'skew(-21deg) translateY(-2px)';
}

html[style*="color-scheme: dark"] .breadcrumb:hover {
  background-color: "black";
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

/* Navbar Styling */
.navbar-button {
  text-decoration: none;
  position: relative;
}

.navbar-button::before,
.navbar-button::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.navbar-button::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navbar-button::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar-button:hover {
  background: none;
}

.navbar-button:hover::before,
.navbar-button:hover::after {
  width: 10px;
  height: 10px;
  border-color: #A6A6A6;
}