@import "tailwindcss";
@import "./colors.css";

.info_card {
  padding: 24px;
  border-radius: 4px;
  outline-width: 24px;
  outline: 1px dotted;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.info_card:hover {
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transform: translateY(-2px);
}

.info_card:active {
    background: "whiteAlpha.800";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
}
