@import "tailwindcss";
@import "./colors.css";

body {
  font-family: var(--font-inter), var(--font-geist-sans), system-ui, sans-serif;
  background: #d4d4d8;
}

html[style*="color-scheme: dark"] body {
  background: #111111;
}

code, pre, kbd, samp {
  /* monospace bits should use Geist Mono: */
  font-family: var(--font-geist-mono), Menlo, monospace;
}

.shadow-md {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

html[style*="color-scheme: dark"] .shadow-md {
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
}

/* This area is for colors */
.text-color {
  color: var(--chakra-colors-fg);
}

.subtext-color {
  color: var(--chakra-colors-fg-subtle);
}

/* This area is for the Dashboard CSS */

/* Cards */
.d-card {
  flex: 1;
  border: 0.1rem solid var(--chakra-colors-border-emphasized);
  border-left: 4px solid;
  background: var(--chakra-colors-bg-muted);
  position: relative;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.375rem;
  box-shadow: var(--shadow-md);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-left-width 0.2s ease;
}

.d-card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
  border-left-width: 8px;
}

/* Div Background */
.bg-card {
  background: var(--chakra-colors-bg-muted);
  padding: 8px;
  border-radius: 0.375rem;
  box-shadow: var(--shadow-md);
  border: 0.1rem solid var(--chakra-colors-border-emphasized)
}

/* This area is for buttons */
.search-button {
  display: block;
  border-radius: 0.375rem;
  height: 26;
  color: var(--chakra-colors-fg-subtle);;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #f3f4f6; /* gray.100 */
}
.search-button:active {
  background-color: #e5e7eb; /* gray.200 */
}

.search-input {
  min-width: 20ch;
  background-color: var(--chakra-colors-bg-subtle);
  color: var(--chakra-colors-fg);
  border: 1px solid var(--chakra-colors-border-emphasized);
  border-radius: 0.375rem;
  box-shadow: var(--shadow-md);
  padding: 0.5rem 0.75rem;
  transition: background-color .2s ease, border-color .2s ease, box-shadow .2s ease;
}

.search-input::placeholder {
  color: var(--chakra-colors-fg-subtle)
}

.search-input:focus {
  outline: none;
  border-color: var(--chakra-colors-border-subtle);
  box-shadow: 0, 0, 0 2px rgba(59, 130, 246, 0.35);
}

/* This area is for Table CSS */
.table-root {

}

.table-column {

}

.table-header {

}

.table-row {

}

.table-cell {
  overflow: hidden;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.table-cell:hover {
  background: var(--chakra-colors-bg-subtle)
}

.card {
  border-radius: 24px;
  border-style: initial;
  border-width: 2px;
  margin-bottom: 2;
  padding: 4;
  box-shadow: 24px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

html[style*="color-scheme: dark"] .card:hover {
  box-shadow: 0px 4px 8px 0px rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .d-card {
    padding: 16px;
  }
  .bg-card {
    padding: 16px;
  }
}

@media (min-width: 640px) {
  .search-button {
    display: none;
  }
}

.c-card {
  border-radius: 4px;
  outline-width: 24px;
  outline: 1px solid;
}

.json-editor {
  background-color: #f6f6f6;
}

html[style*="color-scheme: dark"] .json-editor {
  background-color: var(--chakra-colors-gray-400) !important;
}
.breadcrumb {
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  outline: 1px solid;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-inline: 5px;
}

.breadcrumb:hover {
  background-color: #490099;
  box-shadow: 0 4px 12px rgb(0,0,0);
  transform: 'skew(-21deg) translateY(-2px)';
}

html[style*="color-scheme: dark"] .breadcrumb:hover {
  background-color: "black";
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

/* Navbar Styling */
.navbar-button {
  text-decoration: none;
  position: relative;
}

.navbar-button::before,
.navbar-button::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.navbar-button::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navbar-button::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar-button:hover {
  background: none;
}

.navbar-button:hover::before,
.navbar-button:hover::after {
  width: 10px;
  height: 10px;
  border-color: #A6A6A6;
}

.add-button {
  border-radius: 0.375rem;
  box-shadow: small;
  background-color: orange;
  color: black;
}

.button-hover {
  cursor: pointer;
  padding: 4px;
}

.button-hover:hover {
  background: var(--chakra-colors-gray-200);
}

html[style*="color-scheme: dark"] .button-hover:hover {
  background: var(--chakra-colors-gray-600);
}

.dropdown-color {
  background: var(--chakra-colors-bg-muted);
}